AllNames_*.txt
infobox_properties_en.nt
messages
nohup*
*~
*.xml
*.json
!cityMisspellings.json
!zip3_cities.json
!close_city_spellings.json
*.dat
*.csv
INV_COUNTY_00_15.TXT
INVENTOR_15.TXT
/cmake-build-debug
/.idea
_Deparsed_XSubs.pm
/hold
